*.p
*.pyc
!.gitkeep
.vscode
*.json
*.sh
*.pickle
*.txt
*.pdf
*.tar
*.jpg
*.png
*.gif
docs/*
displacementae/*/out/*
*/out/*
*/*/wandb
wandb/*
build/*
*/PKG-INFO
*.egg
*.whl
dist/*
displacementae/homomorphism_autoencoder.egg-info/PKG-INFO
out/*
displacementae/data/obj3d/test.ipynb
displacementae/data/obj3d/mujoco_dset.ipynb
