*.p
*.pyc
!.gitkeep
.vscode
*.json
*.sh
*.pickle
*.txt
*.pdf
*.tar
*.jpg
*.png
*.gif
docs/*
displacementae/*/out/*
*/out/*
*/*/wandb
wandb/*
build/*
displacementae/homomorphism_autoencoder.egg-info/PKG-INFO
out/*
dist/*
homomorphism_autoencoder.egg-info/PKG-INFO
